@import "../../../index.scss";

.footer {
  text-align: center;
  background-color: $footerbackground;
  padding-bottom: 30px;

  &__title {
    font-family: $montserrat;
    font-size: 12px;
    line-height: 25px;
    text-transform: uppercase;
    color: $coalblack;
    margin-top: 0;
    padding-top: 30px;
    margin-bottom: 10px;
  }

  &__logo {
    font-family: $pacifico;
    font-weight: normal;
    margin-bottom: 20px;
    font-size: 20px;
    letter-spacing: 2px;
    color: $coalblack;
  }

  &__copyright {
    font-family: $axis;
    font-size: 12px;
    letter-spacing: 1px;
    color: $coalblack;
    text-transform: uppercase;
    margin: 0;
  }

  &__social-media {
    display: flex;
    justify-content: center;
  }

  &__icon {
    display: flex;
    justify-content: center;
    gap: 8px;
    width: 30px;
  }
}
