@import "../../../index.scss";

.carousel__button {
  background-color: transparent;
  justify-items: center;
  align-items: center;
  margin-top: 50px;
  width: 60px;
  height: 60px;
  border: 2px solid $white;

  img {
    width: 28px;
    height: 28px;
  }
}
