@import "../../../index.scss";

.navigation__hamburger {
  display: block;
  padding-right: 15px;
  cursor: pointer;

  &-bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    border-radius: 5px;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: $black;
  }
}

.navigation__hamburger.active .navigation__hamburger-bar {
  &:nth-child(2) {
    opacity: 0;
  }

  &:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  &:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
}
