@import "../../../index.scss";

nav {
  padding: 0 9px;
  display: flex;
  justify-content: space-between;
  z-index: 20;
  position: fixed;
  background-color: $white;
  width: 100%;
}

.navigation--left {
  font-family: $pacifico;
  font-size: 25px;
  font-weight: normal;
  letter-spacing: 3px;
  color: $black;
  margin: 0;
  padding: 0;
}

.navigation--right {
  display: flex;
  align-items: center;
  gap: 5px;
}

.navigation__cart {
  width: 18px;
}

.navigation__count {
  padding-top: 3px;
  margin-left: 5px;
  font-size: 15px;
  font-weight: bold;
}

.navigation__divide {
  height: 25px;
}
